@import "variables.scss";
/* Btn
___________________________________________*/
@mixin btnPadding{padding: 25px;}


*,
::before
::after
{box-sizing: border-box;}

h1,h2,h3,h4,h5,h6 {margin: 0%;}

p{margin: 0% 0% 0% 0%;}

body{margin: 0; background-color: $black;}

a, a:hover, a:visited, a:active {text-decoration: none; cursor: pointer;}

/*! Text
/*!_________________________________________________________________*/
.text-white{color: #fff;}
.text-green{color: $green;}
.text-black{color: black;}
.text-pink{color: $pink;}

.title{display: flex; @include flexCenter; font-size: 35px;}
.subtitle{display: flex; @include flexCenter; font-size: 25px;}

/*! Btn
/*!_________________________________________________________________*/
.btn{display: flex; text-align: center; @include flexCenter;}
.btn-green{background-color: $green; border: $green solid 1px; border-radius: 25px;}

/*! Container
/*!_________________________________________________________________*/
.container{width: 100%; max-width: 1400px; @include blockCenter;}